$background-color:  rgb(14, 18, 34);
$text-color: white;
$shadow : 20px 2.25rem 4.75rem rgb(109, 107, 8);
$shadow-row : 10px 1.25rem 3.75rem rgb(212, 209, 25);



.anchor {
  background-color: white;
  color : $text-color;
  margin: 0px 10px;
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: $shadow-row;
  div {
    a{
      color : yellow
    }
  }
}


.space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: $background-color;
    color: $text-color;
}

.edit {
  border-radius: 40px;
  padding: 20px 20px 20px 20px;
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: $shadow;
  background-color: yellow;
  @media only screen and (max-width: 600px) {
    width: 300px;
    }
    @media only screen and (min-width: 768px) {
        width: 400px;
    }

    @media only screen and (min-width: 992px) {
        width: 550px;
    }
    @media only screen and (min-width: 1200px) {
        width: 700px;
    }
  .datepicker {
    font-size: calc(10px + 2vmin);
    border-radius: 30px;
    height: calc(30px + 4vh);
    Input {
        font-size: calc(10px + 2vmin);
        text-align: center;
    }

  }
}

.text {
    font-size:  calc(10px + 2vmin);
    margin : 0px 10%;
    padding: 10px 20px;
    color :$text-color; 
}