$background-color:  rgb(14, 18, 34);
$text-color: white;
$shadow : 20px 2.25rem 4.75rem rgb(109, 107, 8);
$shadow-table : 10px 1.25rem 3.75rem rgb(15, 8, 102);

.space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: $background-color;
    color: $text-color;
   
}

.edit {
  border-radius: 40px;
  border:rgb(161, 150, 46) solid 5px;
  padding: 20px 20px 20px 20px;
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: $shadow;
  background-color: rgb(211, 194, 42);
  @media only screen and (max-width: 600px) {
    width: 300px;
    }
    @media only screen and (min-width: 768px) {
        width: 400px;
    }

    @media only screen and (min-width: 992px) {
        width: 550px;
    }
    @media only screen and (min-width: 1200px) {
        width: 700px;
    }
  .datepicker {
    font-size: calc(6px + 3vmin);
    border-radius: 25px;    
    height: calc(30px + 4vh);
    Input {
        font-size: calc(6px + 3vmin);
        width: calc(50px + 30vmin);
        text-align: center;
    }

  }
}

.back{
    display: block;
    background-color: $background-color;
    color: $text-color;
    height: 100vh;
}

.text {
    font-size:  calc(10px + 2vmin);
    margin : 0px 10%;
    padding: 10px 20px;
    color :$text-color; 
}

.table {
    border-radius: 20px;
    border: solid rgb(25, 136, 136) 10px ;
    background-color: white;
    box-shadow:  $shadow-table;
    margin : 20px;
    .ant-table-cell{
        font-size:  calc(20px + 2vmin);
    }
    width: 80%;
}

.image {
    @media only screen and (max-width: 600px) {
        width: 300px;
        }
        @media only screen and (min-width: 768px) {
            width: 400px;
        }
    
        @media only screen and (min-width: 992px) {
            width: 550px;
        }
        @media only screen and (min-width: 1200px) {
            width: 700px;
        } 
}